
.hamburgerMenu {
    display: none; 
    position: fixed;
    top: 10px;
    left: 15px;
    font-size: 1.8rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    z-index: 300;
  }
  
  .sidemenu {
    background-color: var(--background-color);
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 260px;
    box-sizing: border-box;
    z-index: 200;
    transform: translateX(-100%); 
    transition: transform 0.3s ease-in-out; 
  
    h2 {
        color: var(--primary-color);
        text-align: center;
        font-size: 1.8rem;
        margin: 2rem 0;
    }
  
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
  
        p {
            display: flex;
            align-items: center;
            margin: 12px 0;
            cursor: pointer;
            color: #ffffff;
            font-size: 1rem;
            font-weight: bold;
            padding: 12px 18px;
            border-radius: 8px;
            transition: background-color 0.3s, color 0.3s;
  
            a {
                text-decoration: none;
                color: inherit;
                display: flex;
                align-items: center;
                width: 100%;
            }
  
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
  
            svg {
                font-size: 1.6rem;
                margin-right: 12px; 
            }
        }
    }
  }

  .logoContainer {
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 10px; 
  }

  .sidemenu.open {
    transform: translateX(0); 
  }
  
  .sidemenu.closed {
    transform: translateX(-100%);
}
  
  @media (max-width: 768px) {
    .hamburgerMenu {
        display: block; 
    }
  
    .sidemenu {
        transform: translateX(-100%);
    }
  
    .sidemenu.open {
        transform: translateX(0); 
    }
  
    .sidemenu nav p {
        justify-content: center;
  
        a {
            justify-content: center;
        }
  
        svg {
            font-size: 1.8rem;
            margin-right: 0;
        }
    }

    .sidemenu nav p a svg {
        display: inline-block; 
    }

    .closed nav p a span {
        display: none;
    }
  }

  .active {
    background-color: rgba(255, 255, 255, 0.3);
  }
  