@import "../../styles/GlobalStyles.module.scss"; 

.modalOverlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    // justify-content: center;
    z-index: 1000; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modalContent {
    background: var(--background-diff-color);
    padding: 30px;
    border-radius: 12px;
    width: 900px;
    height: 600px;
    max-width: 90%;
    max-height: 90vh;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    // padding-top: 50px; 
    // overflow-y: auto;

  padding-top: 50px;
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.closeButton {
    position: absolute;
    top: 5px;  
    right: 5px; 
    background: var(--background-color);
    color: var(--primary-color);
    border: none;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.modalContent label {
    margin-bottom: 3px; 
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    color: var(--text-color);
    width: 100%;
    display: block;
}

.modalBody {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  padding-right: 10px; // prevents hiding content behind scrollbar
}

.inputContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px; 
}

.inputContainer input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    padding-right: 45px;
}

.inputContainer input[type="file"] {
    display: none;
}

.textarea {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-bottom: 10px;
}

.textarea label {
    margin-bottom: 5px;
    font-size: 1rem;
    color: var(--text-color);
}

.textarea textarea {
    width: 97.3%; 
    height: 75px;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    resize: none;
    font-size: 1rem;
}

.icon {
    position: absolute;
    right: 15px;
    font-size: 1.5rem;
    color: #0066b2;
    cursor: pointer;
}

.fileInputContainer {
    display: flex;
    gap: 10px;
}

.modalActions {
    margin-top: 40px;
    width: 30%;
    display: flex;
    justify-content: center;
}

.add {
    width: 100%;
    padding: 12px;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background: var(--background-color);
    color: var(--primary-color);
    border: none;
}

.uploadedList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;

  li {
    margin-bottom: 10px;
    background-color: #f8f8f8;
    padding: 8px;
    border-radius: 5px;

    .imageRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      word-break: break-word;
    }

    .imageUrl {
      color: #0026ff;
    //   text-decoration: underline;
      flex-grow: 1;
    }

    .removeButton {
      background: transparent;
      border: none;
      color: red;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}




@media (max-width: 768px) {
    .modalContent {
        width: 95%;
        padding: 20px;
    }

    .textarea textarea {
        width: 94.7%;
    }

    .modalActions {
        width: 100%;
    }

    .add {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .modalContent {
        width: 85%;
        padding: 15px;
        max-height: 85vh;
    }

    .textarea textarea {
        width: 94%;
    }

    .closeButton {
        width: 36px;
        height: 36px;
        font-size: 20px;
    }

    .add {
        font-size: 14px;
        padding: 10px;
    }
}