@import "../../../styles/GlobalStyles.module.scss"; 

.movieTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    position: relative;
    border-bottom: 2px solid #ddd;
}

.backButton {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    // font-weight: bold;
    transition: background 0.3s;
}

.title {
    font-size: 22px;
    color: var(--primary-color);
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    white-space: nowrap;
}

.addButton {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: auto;
}

.titleContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: left;
    height: 100px;
}

.titleCard{
    width: 180px;
    background: var(--background-color);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-height: 220px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    overflow: hidden;
}

.titleImage{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0px;
}


.editButton {
    position: absolute;
    top: 8px;
    right: 10px;
    background: var(--primary-button-color);
    color: var(--button-text-color);
    border: none;
    font-size: 18px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteButton {
    position: absolute;
    top: 8px;
    right: 50px;
    background: var(--primary-button-color);
    color: var(--button-text-color);
    border: none;
    font-size: 18px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemTitle{
    font-size: 16px;
    color: var(--text-color); 
    text-align: center;
    width: 100%;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // max-width: 140px;
    word-break: break-word;
    white-space: normal;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.showReviews{
    background-color: var(--background-diff-color);
    color: var(--primary-color);
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: auto;
    width: 100%;

    &:hover {
        background-color: #004c8c;
    }
}

.noMovies{
    color: rgb(255, 255, 255); 
    font-size: 1.2rem; 
    text-align: center;
    font-weight: bold;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    .movieTitle {
        flex-direction: column; 
        //align-items: center;
        text-align: center;
    }

    .title {
        font-size: 12px; 
        position: relative; 
        left: auto;
        transform: none;
    }

    .titleContainer {
        justify-content: center;
        //padding-left: 20px;
        gap: 10px;
    }

    .titleCard {
        width: 120px; 
    }

    .titleImage {
        height: 140px;
    }

    .backButton, .addButton {
        font-size: 0.9rem;
        padding: 6px 5px;
    }
}

@media screen and (max-width: 480px) {
    .titleContainer {
        flex-direction: row;
        //align-items: center;
    }

    .movieTitle {
        display: flex;
        flex-direction: row; 
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: 12px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .titleCard {
        width: 45%; 
       // max-width: 300px;
    }

    .titleImage {
        height: 120px;
    }

    .backButton, .addButton {
        // width: auto;
        // max-width: 150px;
        // padding: 6px 8px;
        // font-size: 0.8rem;
        min-width: 90px; 
        padding: 8px 12px; 
        font-size: 0.8rem; 
        text-align: center;
    }
}